
@import '~tachyons-sass/tachyons.scss';
@import 'themes/dark-modern';

html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0;
  background: $gray-900;
  color: $text-body-default-font-color;
  *{
    color: $text-body-default-font-color;
  }
}

.swagger-ui {
  @import 'mixins';
  @import 'type';
  @import 'layout';
  @import 'buttons';
  @import 'form';
  @import 'modal';
  @import 'models';
  @import 'servers';
  @import 'table';
  @import 'topbar';
  @import 'information';
  @import 'authorize';
  @import 'errors';
  @include text_body();
  @import 'split-pane-mode';
  @import 'markdown';
  @import '../core/plugins/json-schema-2020-12/components/all';
  @import '../core/plugins/oas31/components/all';
}
